@using TaskManagement.Data.Enums
@model TaskManagement.ViewModels.UserFilterViewModel

@{
  ViewData["Title"] = "Список Пользователей";
}

<div class="mt-2">
	<div class="container card shadow-sm" style="border: 15px">
		<div class="row">
			<div class="Filters col" style="padding-left: 0px">
				<div class="card bg-light bg-body-tertiary h-100" style="border-top-left-radius: 15px; border-bottom-left-radius: 15px">
					<div class="card-body">
						<form asp-action="Index">
							<div style="margin-right: 1rem; margin-bottom: 5px">
								<input class="w-100" type="text" name="filterName" placeholder="Имя" value="@Model.FilterName" style="border-radius:7px"/>
							</div>
							<div style="margin-right: 1rem; margin-bottom:5px">
								@if(Model.isAdmin)
								{
									<input type="checkbox" value="true" name="isAdmin" checked="checked" />
								}
								@if(!Model.isAdmin)
								{
									<input type="checkbox" value="true" name="isAdmin"/>
								}
								<input name="isAdmin" type="hidden" value="false"/>
								<label>Включать администраторов</label>
							</div>
							<div style="margin-right: 1rem; margin-bottom:5px">
								@if(Model.isModer)
								{
									<input type="checkbox" value="true" name="isModer" checked="checked" />
								}
								@if(!Model.isModer)
								{
									<input type="checkbox" value="true" name="isModer" />
								}
								<input name="isModer" type="hidden" value="false" />
								<label>Включать модераторов</label>
							</div>
							<div style="margin-right: 1rem; margin-bottom:5px">
								@if(Model.isDefault)
								{
									<input type="checkbox" value="true" name="isDefault" checked="checked" />
								}
								@if (!Model.isDefault)
								{
									<input type="checkbox" value="true" name="isDefault" />
								}
								<input name="isDefault" type="hidden" value="false" />
								<label>Включать пользователей без привилегий</label>
							</div>
							<button type="submit" class="btn-outline-primary w-100" style="margin-right: 1rem; margin-bottom:5px; border-radius:7px">Фильтрация</button>
						</form>
					</div>
				</div>
			</div>
			<div class="Users col-sm-9" style="padding-right: 0px">
				<div class="card bg-light h-100" style="border-top-right-radius:15px; border-bottom-right-radius:15px">
					<div class="card-body">
						<div class="py-2 bg-body-teriary">
							<div class="container">


								<div class="row row-cols-md-3 g-3">
									@foreach (var user in Model.Users)
									{
										<div class="col">
											<div class="container d-flex justify-content-center mt-1">
												<div class="card w-100" style="background-color: #fff; border-radius: 33px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); padding:10px">
													<div class="card-body">
														<a href="@Url.Action("Details","Users",new{ id = user.Id})" class="stretched-link"></a>
														<div class="top-container" style="display:flex; align-items: center;">
															<img src="https://i.imgur.com/hepj9ZS.png" class="img-fluid profile-image" style="border-radius:10px; border:2px solid #0d6efd" width="82">
															<div class="" style="padding-left: 10px">
																<h5 class="name d-inline-block text-truncate" style="max-width: 100%; position:relative; top:8px; font-size: 15px; font-weight:bold;">@user.Username</h5>
																<p class="mail d-inline-block text-truncate" style="max-width: 100%; font-size: 14px; color:grey; top:2px; position:relative; margin-bottom: 0.5rem; display: inline-block; height: 20px;">@user.Email</p>
																<span class=" px-4 rounded text-white mw-75" style="background-color: grey; position:relative;">@user.Role</span>
															</div>
														</div>
														<span class="d-inline-block text-truncate" style="max-width: 200px; padding-top: 5px">@user.Information</span>
														<div class="d-flex justify-content-between align-items-center" style="padding-top: 10px">
															<div class="btn-group; position-relative">
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

@*
<div class="mt-2">
	<div class="album py-5 bg-body-teriary">
		<div class="container">
			<div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-3">
				@foreach(var user in Model.Users)
				{
					<div class="col" >
						<div class="container d-flex justify-content-center mt-5">
							<div class="card col-lg-4 col-md-6 col-sm-12 mt-3" style="background-color: #fff; width: 280px; border-radius: 33px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);padding: 2rem !important;">
								<a href="@Url.Action("Details","Users",new{ id = user.Id})" class="stretched-link"></a>
								<div class="top-container" style="display:flex; align-items: center;">
									<img src="https://i.imgur.com/hepj9ZS.png" class="img-fluid profile-image" style="border-radius:10px; border:2px solid #0d6efd" width="82">
									<div class="" style="padding-left: 10px">
										<h5 class="name d-inline-block text-truncate" style="max-width: 150px; position:relative; top:8px; font-size: 15px; font-weight:bold;">@user.Username</h5>
										<p class="mail d-inline-block text-truncate" style="max-width: 150px; font-size: 14px; color:grey; top:2px; position:relative; margin-bottom: 0.5rem; display: inline-block; height: 20px;">@user.Email</p>
										<span class=" px-4 rounded text-white" style="background-color: grey; position:relative;">@user.Role</span>
									</div>
								</div>
								<span class="d-inline-block text-truncate" style="max-width: 200px; padding-top: 5px">@user.Information</span>
								<div class="d-flex justify-content-between align-items-center" style="padding-top: 10px">
									<div class="btn-group; position-relative">
									</div>
								</div>
							</div>

						</div>
					</div>
				}
			</div>
		</div>
	</div>
</div>*@